<div class="card-category position-relative" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(http://source.unsplash.com/featured/?<%= restaurant.category %>+food&<%= rand(1000) %>)">
  <%= image_tag restaurant.user.avatar_url, class: "avatar border position-absolute top-0 end-0 m-2" %>
  <%= restaurant.name %>
  <%= link_to "", restaurant_path(restaurant), class: "card-link"  %>
</div>
