<div data-controller="side-info" class="container mt-2">
  <div class="row justify-content-around">
    <div class="col-12 col-sm-8">
      <p>
        <%= link_to '< Restaurants', restaurants_path, class: 'btn-light opacity-25 text-decoration-none' %>
      </p>
      <div class="d-flex align-items-center">
        <h1 class="m-0"><%= @restaurant.name %></h1>
        <p class="m-0 ms-2" style="font-size: 0.8em">
          <% if @restaurant.rating %>
            <% @restaurant.rating.times do %>
              <i class="fas fa-star"></i>
            <% end %>
            <% (5 - @restaurant.rating).times do %>
              <i class="far fa-star"></i>
            <% end %>
          <% else %>
            <i class="far fa-star"></i> No ratings yet
          <% end %>
        </p>
      </div>
      <p class="fw-lighter opacity-75 mt-2"><%= @restaurant.description  %></p>
      <h3>Reviews</h3>
      <ul>
        <% if @restaurant.reviews.any? %>
          <% @restaurant.reviews.each do |review| %>
            <li class="my-5"><%= review.content %> <%= link_to 'x', review_path(review), data: { turbo_method: :delete, turbo_confirm: 'Delete review?' }  %></li>
          <% end %>
        <% else %>
          <p>No reviews yet</p>
          <% if user_signed_in? %>
            <%= link_to 'Be the first to review', new_restaurant_review_path(@restaurant) %>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="col-12 col-sm-4 mt-5">
      <%= render 'restaurants/side_info', restaurant: @restaurant %>
    </p>
  </div>
</div>
