<p>
  <%= image_tag @restaurant.user.avatar_url, class: "avatar" %> <%= @restaurant.user.name %>
</p>
<p class="fw-lighter opacity-75">
  <i class="fas fa-map-pin"></i><span class='ms-2'><%= @restaurant.address %></span>
</p>
<p class="fw-lighter opacity-75">
  <% rand(2..5).times do %>
    <i class="fas fa-dollar-sign"></i>
  <% end %>
</p>
<p class="fw-lighter opacity-75">
  <i class="fas fa-utensils"></i><span class='ms-2'><%= @restaurant.category %></span>
</p>
<div class="d-flex">
  <% if policy(@restaurant).edit? %>
    <%= link_to edit_restaurant_path(@restaurant) do %>
      <i class="fas fa-pencil-alt btn-light mx-1"></i>
    <% end %>
  <% end %>
  <% if policy(@restaurant).destroy? %>
    <%= link_to restaurant_path(@restaurant), data: { turbo_method: :delete, turbo_confirm: "Do you want to delete #{@restaurant.name}" } do %>
      <i class="fas fa-trash btn-light mx-1"></i>
    <% end %>
  <% end %>
</div>
